<input type="hidden" name="vt_kiosque-nonce" id="vt_kiosque-nonce" value="{{ nonce }}" />

<p><strong>Magazine</strong><br />
<p class="mag-filename">{{ post.name | default('Choisissez un document') }}</p>
<a href="#" class="button button-primary logo_upload">Choisir un document</a>
<input class="url" type="hidden" name="url" size="60" value="{{ post.name }}">
<input class="name" type="hidden" name="name" size="60" value="{{ post.url }}">
</p>

<script>


jQuery(document).ready(function($) {
    $('.logo_upload').click(function(e) {
        e.preventDefault();

        var custom_uploader = wp.media({
            title: 'Choisir un document',
            button: {
                text: 'Choisir un document'
            },
            multiple: false  // Set this to true to allow multiple files to be selected
        })
        .on('select', function() {
            var attachment = custom_uploader.state().get('selection').first().toJSON();
            console.log(attachment);
            $('.url').val(attachment.url);
            $('.name').val(attachment.filename);
            $('.mag-filename').html(attachment.filename);

        })
        .open();
    });
});
</script>
    </form>
</div>
