<input type="hidden" name="vt_kiosque-nonce" id="vt_kiosque-nonce" value="{{ nonce}}" />
<p><strong>Magazine</strong><br /></p>

    <p class="mag-filename">{{ post.name | default('Aucun document choisi') }}</p>
    <p><button type="button" class="button button-primary pdf_upload">Choisir un document</button></p>
    <p><button type="button" class="components-button editor-post-trash is-tertiary is-destructive pdf_delete">Supprimer le document</button></p>

    <input class="url" type="hidden" name="url" size="60" value="{{ post.url }}">
    <input class="name" type="hidden" name="name" size="60" value="{{ post.name }}">
</div>
<script>
jQuery(document).ready(function($) {
    $('.pdf_upload').click(function(e) {
        e.preventDefault();

        var custom_uploader = wp.media({
            title: 'Choisir un document',
            button: {
                text: 'Choisir un document'
            },
            multiple: false  // Set this to true to allow multiple files to be selected
        })
        .on('select', function() {
            var attachment = custom_uploader.state().get('selection').first().toJSON();
            $('.url').val(attachment.url);
            $('.name').val(attachment.filename);
            $('.mag-filename').html(attachment.filename);

        })
        .open();
    });

    $('.pdf_delete').click(function(e) {
        e.preventDefault();
        $('.url').val('');
        $('.name').val('');
        $('.mag-filename').html('Aucun document choisi');
    });

});
</script>
